desktop.ini
**/__pycache__/
.vscode/

plugins/
testdata/
tmp/

examples/logo/logo.mrc

volgrids/_backend/segmentation/main

volgrids/_vendors/freyacli
volgrids/_vendors/molsimple
volgrids/_vendors/molutils
